
:local(.root) {
  font-family: 'Lato', Helvetica, sans-serif;
  letter-spacing: 0.8px;
}

:local(.header) {
  display: flex;
  flex-direction: row;
}

:local(.contentContainer) {
  padding: 24px 40px;
}

:local(.editorContainer) {
  margin-top: 40px;
}
