
:local(.root) {
  font-family: 'Lato', Helvetica, sans-serif;
  letter-spacing: 0.8px;
}

:local(.header) {
  display: flex;
  flex-direction: row;
  padding: 8px 24px 16px 24px;
}

:local(.editorContainer) {
  background-color: #F0F0F0;
  margin: 20px auto;
  width: 500px;
}
