
:local(.root) {
  background-color: #F0F0F0;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

:local(.content) {
  background-color: red;
  flex-grow: 1;
  position: relative;
}
